/* #region CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}
/* #endregion */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: 1px rgba(0, 0, 0, 0);
}

main {
    background-color: white;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;

}

section {
    width: 100%;

    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    justify-content: center;

    transition: all 1s ease-in-out;
}

section h1 {
    font-size: 2rem;
}

/* #region mouse-log */

.mouse-log {
    background-color: white;
    color: lightgray;
}

section.mouse-log {
    padding: 1rem;
    border: 4px dashed;
}

section.mouse-log * {
    margin: auto;
    text-align: center;
}

section.mouse-log table {
    margin: .5rem auto;
    padding: .5rem;
    border: 1px solid;
}

section.mouse-log table th,
section.mouse-log table td {
    padding: .25rem;
}

section.mouse-log table thead th {
    letter-spacing: 1px;
}

section.mouse-log table thead th {
    padding: .25rem 2rem;
}

section.mouse-log table tbody {
    font-size: 1.125rem;
}

section.mouse-log table td {
    text-align: center;
}

section.mouse-log table tr th:first-of-type {
    border-right: 1px solid;
}
/* #endregion */

.color {
    color: white;
    font-size: 2.75rem;
    font-weight: bold;
    letter-spacing: 0px;
}

.red {
    background-color:rgb(235, 88, 88);
}

.pink {
    background-color: pink;
}

.orange {
    background-color:orange;
}

.yellow {
    background-color:rgb(255, 221, 128);
}

.green {
    background-color:darkseagreen;
}

.teal {
    background-color:rgb(131, 202, 202);
}

.blue {
    background-color:rgb(108, 175, 218);
}

.switchColors {
    color: black;
    opacity: .5;
}

.expandBox {
    transform: scale(2);
}